<div class="container p-sm-3">
    <div class="text-center">
        <h1 class="text-secondary">My Bookings</h1>
    </div>
    <table class="table m-sm-0">
    <thead>
        <tr>
        <th scope="col">Accomodation Name</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Cancel</th>
        <th scope="col">Rate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of bookings">
        <td>
            <a [routerLink]="['/viewAccomodation']" [queryParams]="{id: b.accId}">
                {{b.accName}}
            </a>
        </td>
        <td>{{dateConverter(b.from)}}</td>
        <td>{{dateConverter(b.to)}}</td>
        <td>
            <button class="btn btn-sm btn-kkout" data-bs-toggle="modal" data-bs-target="#rateModal" (click)="rateId=b.accId">
                Add Rating
            </button>
        </td>
        <td>
            <button class="btn btn-sm btn-danger" (click)="delete(b.id)">
                Cancel Booking
            </button>
        </td>
        </tr>
        <tr>
    </tbody>
    </table>
</div>


<div class="modal fade" id="rateModal" tabindex="-1" aria-labelledby="rateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-secondary">
                Rate Accomodation
            </div>
            <div class="modal-body">
                <form [formGroup]="rateForm">
                    <div class="row form-group" id="rateGroup">
                        <label class="text-secondary" for="rating">Rating: {{rateForm.get('rating')?.value}}</label>
                        <div class="star-rating-container align-middle">
                            <ngx-star-rating formControlName="rating" id="rating"></ngx-star-rating>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="text-secondary" for="comment">Comment</label>
                        <textarea type="text" class="form-control" id="comment" 
                        placeholder="enter a comment (optional)" formControlName="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-kkout" data-bs-dismiss="modal" (click)="rateAcc()">Add Rating</button>
            </div>
        </div>
    </div>
</div>