<nav id="myNavbarGuest" class="navbar navbar-dark bg-warning mb-3 navbar-expand-md" *ngIf="username==null">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">TediBookings</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGuest" aria-controls="navbarGuest" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-between navbar-collapse" id="navbarGuest">
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="px-2 nav-link" aria-current="page" [routerLink]="['search']">Search for Accomodation</a>
                    </li>
                </ul>
            </div>
            <div>
                <button id="loginButton" class="btn btn-kkout btn-lg mx-2 p-1">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['login']">Log-In</a>
                </button>
                <button id="signinButton" class="btn btn-kkout btn-lg p-1">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['signup']">Sign-Up</a>
                </button>
            </div>
        </div>
    </div>
</nav>

<nav id="myNavbaradmin" class="navbar navbar-dark bg-warning mb-3 navbar-expand-md" *ngIf="role==='ADMIN'">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">TediBookings</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdmin" aria-controls="navbarAdmin" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarAdmin">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['admin']">Approve Users</a>
                </li>
            </ul>
            <span class="nav-item dropdown px-2 text-light" aria-current="page">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="text-light fa fa-user" aria-hidden="true"></i>
                    Logged in as {{username}},{{role}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" [routerLink]="['viewProfile']">My Profile</a></li>
                    <li><a class="dropdown-item" href="#" [routerLink]="['editProfile']">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="#" (click)="logout()">Log out</a></li>
                </ul>
            </span>
        </div>
    </div>
</nav>

<nav id="myNavbarHost" class="navbar navbar-dark bg-warning mb-3 navbar-expand-md" *ngIf="role==='HOST'">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">TediBookings</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHost" aria-controls="navbarHost" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHost">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['enlist']">Enlist Accomodation</a>
                </li>
                <li class="nav-item">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['hostAccs']">My Accomodations</a>
                <li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Message Center
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" [routerLink]="['inbox']">Inbox</a></li>
                      <li><a class="dropdown-item" href="#" [routerLink]="['outgoing']">Outgoing</a></li>
                    </ul>
                </li>
            </ul>
            <span class="nav-item dropdown px-2 text-light" aria-current="page">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="text-light fa fa-user" aria-hidden="true"></i>
                    Logged in as {{username}},{{role}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" [routerLink]="['viewProfile']">My Profile</a></li>
                    <li><a class="dropdown-item" href="#" [routerLink]="['editProfile']">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="#" (click)="logout()">Log out</a></li>
                </ul>
            </span>
        </div>
    </div>
</nav>

<nav id="myNavbarRenter" class="navbar navbar-dark bg-warning mb-3 navbar-expand-md" *ngIf="role==='RENTER'">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">TediBookings</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarRenter" aria-controls="navbarRenter" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarRenter">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['search']">Search For Accomodation</a>
                </li>
                <li class="nav-item">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['renterBooks']">My bookings</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Message Center
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" [routerLink]="['inbox']">Inbox</a></li>
                      <li><a class="dropdown-item" href="#" [routerLink]="['outgoing']">Outgoing</a></li>
                    </ul>
                </li>
            </ul>
            <span class="nav-item dropdown px-2 text-light" aria-current="page">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="text-light fa fa-user" aria-hidden="true"></i>
                    Logged in as {{username}},{{role}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" [routerLink]="['viewProfile']">My Profile</a></li>
                    <li><a class="dropdown-item" href="#" [routerLink]="['editProfile']">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="#" (click)="logout()">Log out</a></li>
                </ul>
            </span>
        </div>
    </div>
</nav>

<nav id="myNavbarHostRenter" class="navbar navbar-dark bg-warning mb-3 navbar-expand-lg" *ngIf="role==='HOST_AND_RENTER'">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">TediBookings</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHostRenter" aria-controls="navbarHostRenter" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHostRenter">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['search']">Search For An Accomodation</a>
                </li>
                <li class="nav-item">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['enlist']">Enlist an Accomodation</a>
                <li>
                <li class="nav-item">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['hostAccs']">My Accomodations</a>
                <li>
                <li class="nav-item">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['renterBooks']">My Reservations</a>
                <li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Message Center
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" [routerLink]="['inbox']">Inbox</a></li>
                        <li><a class="dropdown-item" href="#" [routerLink]="['outgoing']">Outgoing</a></li>
                    </ul>
                </li>
            </ul>
            <span class="nav-item dropdown px-2 text-light" aria-current="page">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="text-light fa fa-user" aria-hidden="true"></i>
                    Logged in as {{username}},{{role}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" [routerLink]="['viewProfile']">My Profile</a></li>
                    <li><a class="dropdown-item" href="#" [routerLink]="['editProfile']">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="#" (click)="logout()">Log out</a></li>
                </ul>
            </span>
        </div>
    </div>
</nav>

<nav id="myNavbarPending" class="navbar navbar-dark navbar-expand-md bg-warning mb-3" *ngIf="role==='PENDING'">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">TediBookings</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPending" aria-controls="navbarPending" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPending">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="px-2 nav-link" aria-current="page" [routerLink]="['search']">Search For An Accomodation</a>
                </li>
            </ul>
            <span class="px-2 text-light" aria-current="page" [routerLink]="['home']">
                <i class="text-light fa fa-user" aria-hidden="true"></i>
                Logged in as {{username}},{{role}}
            </span>
            <button id="logoutButton" class="btn btn-lg btn-kkout p-1" (click)="logout()">
                <a class="px-2 nav-link" aria-current="page" >Log Out</a>
            </button>
        </div>
    </div>
</nav>