<div class="container py-3">
    <h1 class="card-title my-3 text-secondary text-center">{{acc?.name}}</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <ngx-slick-carousel class="carousel card-img-top" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let image of photoUrls">
                    <img [src]="image" alt="">
                </div>
            </ngx-slick-carousel>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="text-center" >
        <div class="text-secondary">
            <hr>
            <div class="sizeInfo">
                <h3>Size Information</h3>
                <p class="card-text">Size : {{acc?.size}}</p>
                <p class="card-text">Beds : {{acc?.beds}}</p>
                <p class="card-text">Bedrooms : {{acc?.rooms}}</p>
                <p class="card-text">Bathrooms : {{acc?.bathrooms}}</p>
                <p class="card-text">Max Person : {{acc?.maxPerson}}</p>
                <p class="card-text">Floor : {{acc?.floor}}</p>
                <p class="card-text">Type : {{acc?.type}}</p>
                <p class="card-text" *ngIf="acc?.sittingRoom">Sitting Room : yes</p>
                <p class="card-text" *ngIf="!acc?.sittingRoom">Sitting Room : no</p>
            </div>
            <hr>
            <div class="desc" *ngIf="acc?.description!=null">
                <h3>Description</h3>
                <p>{{acc.description}}</p>
            </div>
            <hr>
            <div class="houseRules">
                <h3>House Rules</h3>
                <p class="card-text">
                    Pets Allowed
                    <i class="fa fa-check text-success" aria-hidden="true" *ngIf="acc?.petsAllowed"></i>
                    <i class="fa fa-times text-danger" aria-hidden="true" *ngIf="!acc?.petsAllowed"></i>
                </p>
                <p class="card-text">
                    Smoking Allowed
                    <i class="fa fa-check text-success" aria-hidden="true" *ngIf="acc?.smokingAllowed"></i>
                    <i class="fa fa-times text-danger" aria-hidden="true" *ngIf="!acc?.smokingAllowed"></i>
                </p>
                <p class="card-text">
                    Evnets Allowed
                    <i class="fa fa-check text-success" aria-hidden="true" *ngIf="acc?.eventsAllowed"></i>
                    <i class="fa fa-times text-danger" aria-hidden="true" *ngIf="!acc?.eventsAllowed"></i>
                </p>
            </div>
            <hr>
            <div class="locationInfo">
                <h3>Location</h3>
                <div class="map-container mt-0" id="locationMap" *ngIf="showMap">
                    <div class="map-frame">
                    <div id="map"></div>
                    </div>
                </div>
                <p>{{acc?.location}}</p>
                <p *ngIf="acc?.transportation!=null">Transportation Info : {{acc.transportation}}</p>
            </div>
            <hr>
            <div>
                <h3>Host</h3>
                <p>
                    {{acc?.owner.username}}
                    <button class="btn btn-sm btn-kkout" data-bs-toggle="modal" data-bs-target="#ownerDetailsModal" (click)="getOwnerDetails()">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-sm btn-kkout mx-1" data-bs-toggle="modal" data-bs-target="#sendMessageModal" *ngIf="canBook">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                    </button>
                </p>
            </div>
            <hr>
            <div class="bookingInfo">
                <h3>Booking Info</h3>
                <p class="card-text">Price : {{acc?.price}} €</p>
                <p class="card-text">Extra Cost per Person : {{acc?.extraCost}} €</p>
                <p class="card-text">Available From : {{acc?.availableFrom.toLocaleDateString()}}</p>
                <p class="card-text">Available To : {{acc?.availableTo.toLocaleDateString()}}</p>
            </div>
            <hr>
            <div class="extraServices" *ngIf="acc?.wifi || acc?.heat || acc?.kitchen || acc?.tv || acc?.parking || acc?.elevator">
                <h3>Extra Services:</h3>
                <p class="my-1" *ngIf="acc?.wifi">Wifi</p>
                <p class="my-1" *ngIf="acc?.heat">Heat</p>
                <p class="my-1" *ngIf="acc?.kitchen">Kitchen</p>
                <p class="my-1" *ngIf="acc?.tv">Tv</p>
                <p class="my-1" *ngIf="acc?.parking">Parking</p>
                <p class="my-1" *ngIf="acc?.elevator">Elevator</p>
                <hr>
            </div>
            <div class="ratings row text-secondary" *ngIf="accRatings">
                <div class="col-md-3"></div>
                <div class="card text-secondary col-md-6">
                    <h4>Accomodation Ratings:</h4>
                    <p>Ratings : {{accRatings.length}} Average : {{getAvgRating(accRatings)}}</p>
                    <p *ngFor="let r of accRatings | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: accRatings?.length }">
                        <small>{{r.guest?.username}} :</small>
                        <i class="fa fa-star" aria-hidden="true" *ngFor="let item of [].constructor(r.stars);"></i>
                        <br>
                        <small *ngIf="r.comment != null">"{{r?.comment}}"</small>
                    </p>
                    <div class="my-2">
                        <pagination-controls class="text-secondary" (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <button class="btn btn-kkout" *ngIf="canEdit" [routerLink]="['/editAccomodation']" [queryParams]="{id: acc.id}" >Edit</button>
        <button class="btn btn-kkout" *ngIf="canBook" data-bs-toggle="modal" data-bs-target="#bookModal" >Reserve</button>
    </div>
</div>


<div class="modal fade" id="ownerDetailsModal" tabindex="-1" aria-labelledby="ownerDetailsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-secondary">
                Owner Details
            </div>
            <div class="modal-body">
            <p *ngIf="ownerProfilePic">
                <img [src]="ownerProfilePic">
            </p>
            <p>
                Username : {{acc?.owner.username}}
            </p>
            <p>
                First name : {{acc?.owner.firstName}}
            </p>
            <p>
                Last Name : {{acc?.owner.lastName}}
            </p>
            <p>
                Email : {{acc?.owner.email}}
            </p>
            <p *ngIf="ownerRatings">
                Ratings: {{ownerRatings.length}} Average Score : {{getAvgRating(ownerRatings)}} 
            </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-kkout"  data-bs-toggle="modal" data-bs-target="#sendMessageModal" *ngIf="canBook" >Send Message</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendMessageModal" tabindex="-1" aria-labelledby="sendMessageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-secondary">
                Send Message to {{acc?.owner.username}}
            </div>
            <div class="modal-body">
                <form class="form-control" [formGroup]="messageForm">
                    <div class="form-group">
                        <label class="text-secondary" for="reply">Message</label>
                        <textarea type="text" class="form-control" id="reply" 
                        placeholder="enter a message" formControlName="messageText"></textarea>
                    </div>
                    <small class="text-danger" *ngIf="!messageForm.valid && (messageForm.touched || showError)">Message cant be empty</small>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-kkout" data-bs-dismiss="modal" (click)="message()">Send Message</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-secondary">
                Make a Reservation
            </div>
            <div class="modal-body">
                <form [formGroup]="bookForm">
                    <div formGroupName="dates">
                        <div class="">
                            <div class="mb-0">
                                <label for="DateFrom" class="text-secondary form-label">From</label>
                                <input type="date" class="form-control" id="DateFrom" formControlName="from" (change)="checkBooked()">
                            </div>
                        </div>
                        <div class="">
                            <div class="mb-0">
                                <label for="DateTo" class="text-secondary form-label">To</label>
                                <input type="date" class="form-control" id="DateTo" formControlName="to" (change)="checkBooked()">
                            </div>
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="!isValidDate()">
                        Date to must be after from!
                    </small>
                    <div class="alert alert-danger m-2" *ngIf="  unavailableDates">
                        This accomodation is not available for these dates!
                    </div>
                    <div class="">
                        <div class="mb-0">
                            <label for="People" class="text-secondary form-label">Number of guests</label>
                            <input type="number" class="form-control" id="People" formControlName="numPerson">
                        </div>
                        <small class="text-danger" *ngIf="!this.bookForm.get('numPerson')?.valid && this.bookForm.get('numPerson')?.touched">
                            This accomodation can fit maximum {{acc.maxPerson}} people
                        </small>
                    </div>
                    <div *ngIf="acc!=null && this.bookForm!=null && this.bookForm.get('numPerson')!=null">
                        Total Price : {{acc.price + acc.extraCost * this.bookForm.get('numPerson')?.value}} 
                    </div>
                    <small class="text-danger" [hidden]="!invalidFormSubmit">
                        All fields are mandatory
                    </small>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-kkout" data-bs-dismiss="modal" (click)="book(acc.id)">Book</button>
            </div>
        </div>
    </div>
</div>