<div class="container p-sm-3">
    <div class="text-center">
        <h1 class="text-secondary">Users</h1>
    </div>
    <table class="table m-sm-0">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Waiting For Approval</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: users?.length }">
        <th scope="row">{{u.id}}</th>
        <td>{{u.firstName}}</td>
        <td>{{u.lastName}}</td>
        <td>{{u.username}}</td>
        <td>{{u.role}}</td>
        <td *ngIf="!u.approved">
            <button class="btn btn-kkout" (click)="onApprove(u.id)">
                Approve As Host
            </button>
        </td>
        <td *ngIf="u.approved">Approved</td>
        </tr>
        <tr>
    </tbody>
    </table>
    <div class="my-2">
        <pagination-controls class="text-secondary" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
