<div class="container text-center p-0 p-sm-3">
    <h1 class="text-secondary">Export App Data</h1>
    <table class="table m-sm-0">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">json</th>
            <th scope="col">XML</th>
            </tr>
        </thead>
        <tbody>
            <tr >
            <th scope="row">Accomodations</th>
            <td>
                <button class="btn btn-kkout" (click)="exportAccomodationsJson()"> 
                    json
                </button>
            </td>
            <td>
                <button class="btn btn-kkout" (click)="exportAccomodationsXml()"> 
                    xml
                </button>
            </td>
            </tr>
            <tr >
                <th scope="row">Bookings</th>
                <td>
                    <button class="btn btn-kkout" (click)="exportBookingsJson()"> 
                        json
                    </button>
                </td>
                <td>
                    <button class="btn btn-kkout" (click)="exportBookingsXml()"> 
                        xml
                    </button>
                </td>
                </tr>
                <tr >
                    <th scope="row">Ratings By Guest</th>
                    <td>
                        <button class="btn btn-kkout" (click)="exportGuestRatingsJson()"> 
                            json
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-kkout" (click)="exportGuestRatingsXml()"> 
                            xml
                        </button>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Ratings By Host</th>
                    <td>
                        <button class="btn btn-kkout" (click)="exportHostRatingsJson()"> 
                            json
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-kkout" (click)="exportHostRatingsXml()"> 
                            xml
                        </button>
                    </td>
                </tr>    
        </tbody>
        </table>
</div>