<div class="container-fluid">
  <div class="alert alert-warning" *ngIf="waitingApproval">
    <strong>Registration succesful!</strong><br>
    Approval from admin as host is pending!
  </div>
  <div class="alert alert-warning" *ngIf="!waitingApproval && registered">
    <strong>Registration succesful!</strong><br>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="container col-md-6">
      <button class="btn btn-info text-center text-light d-flex" [routerLink]="['/search']">
        Find Your Dream Accomodation ! 
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="card col-sm-4 col-lg-3 mx-auto">
      <img class="card-img-top" src="/assets/booking.jpg" alt="bookking" />
      <div class="card-body">
        <h5 class="card-title">Fastest Bookings</h5>
        <p class="card-text">
          Book your holidays with the fastest and easiest ways on our website.
          No more phone-calls and waiting lines.
        </p>
        <a (click)="scrollToElement('#hotels')" class="btn btn-primary"
          >Learn More</a
        >
      </div>
    </div>
    <div class="card col-sm-4 col-lg-3 mx-auto">
      <img class="card-img-top" src="/assets/ways.jpg" alt="ways" />
      <div class="card-body">
        <h5 class="card-title">Best rating system</h5>
        <p class="card-text">
          Choose your accommodation based on ratings and critics that costumers
          sumbit based on their experiences.
        </p>
        <a (click)="scrollToElement('#rating')" class="btn btn-primary"
          >Learn More</a
        >
      </div>
    </div>
    <div class="card col-sm-4 col-lg-3 mx-auto">
      <img class="card-img-top" src="/assets/variety.jpg" alt="variety" />
      <div class="card-body">
        <h5 class="card-title">Biggest Variety</h5>
        <p class="card-text">
          Choose your best place to spend your vacation via a big list of
          registered hotels.
        </p>
        <a (click)="scrollToElement('#variety')" class="btn btn-primary"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</div>
<app-details></app-details>
