<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img class="blue-icons" src="/assets/bluehotel.png" alt="hotels" />
      <h5>Fastest Bookings</h5>
      <p id="hotels">
        Through our website "Tedi Bookings", you can now book your preferable
        accommodation with the fastest, easiest and most secure way possible. It
        only takes a couple of minutes and a few clicks to book your dream
        hotel.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col my-5">
      <img class="blue-icons1" src="/assets/bluestar.jpg" alt="star" />
      <h5>Best Rating System</h5>
      <p id="rating">
        With the use of a <b>5-star system</b>.After every staying, our users
        rate their experience based on fixed categories we ask them to. We only
        allow users with verified accounts and only after completion of their
        staying to rate they hotel they spent their time to. It's a direct way
        to keep our database of accommodations in touch with the capabilities
        they offer. Also it's a great way to point out the lack of necessities
        or privilegies some accommodation may offer.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="blue-icons1" src="/assets/manyhotels.png" alt="many-hotels" />
      <h5>Biggest Variety</h5>
      <p id="variety">
        Our website offers one of the largest varieties of accommodations and
        hotels available to our customers. Each client can choose the
        appropriate type of lodging for their desired destination and vacation.
        There is a diversity in both the prices of the accommodations offered
        and the amenities they provide. Explore hotels within the city, in the
        countryside, or with a pool, so you won't have to leave the hotel
        premises to cool off.
      </p>
    </div>
  </div>
</div>
