<div class="container text-center p-4">
    <h1 class="text-secondary mb-4">Search For An Accomodation</h1>
    <hr>
    <div class="row">
        <div>
            <form class="row align-items-center">
                <div class="col-md-4" >
                    <div class="mb-0">
                        <label for="Location" class="text-secondary form-label">Location</label>
                        <input type="text" class="form-control" id="location" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-0">
                        <label for="DateFrom" class="text-secondary form-label">From</label>
                        <input type="date" class="form-control" id="DateFrom" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-0">
                        <label for="DateTo" class="text-secondary form-label">To</label>
                        <input type="date" class="form-control" id="DateTo" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-0">
                        <label for="People" class="text-secondary form-label">Number of guests</label>
                        <input type="number" class="form-control" id="People" >
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-kkout">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>