/* html {
  background-image: url("assets/back.jpg");
} */

.container {
  background-color: rgb(220, 220, 158);
}

body {
  background-image: url("assets/blueback.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.btn-kkout {
  background-color: rgb(183, 184, 97);
  color: white;
  transition-duration: 0.1s;
}

.btn-kkout:hover {
  background-color: white;
  color: rgb(183, 184, 97);
}
